html, body{
	width: 400px;
	height: 400px;
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
}

.replaceto{
	padding: 10px;
}
.replaceto__url{
	border: 1px solid gray;
	border-radius: 3px;
	padding: 3px;
}
.replaceto__url__input{
	width: 100%;
	box-sizing:border-box;
}
.replaceto__url__result{
	margin: 3px 0px 0px 0px;
	display: block;
}

.replaceto__status{
	margin: 0px 0px 10px 0px;
}
.replaceto__status__checkbox{
	display: none;
}
.replaceto__status__current{
	font-size: 15px;
	margin-right: 10px;
}
.replaceto__status__button{
	border: 1px solid gray;
	cursor: pointer;
	padding: 1px 2px;
	border-radius: 2px;
}


.replaceto__header{
	margin: 15px 0px 5px 0px;
	font-weight: bold;
	font-size: 14px;
}
.replaceto__list{
	margin: 0px 0px 0px 0px;
}

.rule{
	border: 1px solid gray;
	border-radius: 3px;
	padding: 9px 3px 3px 3px;
	margin: 10px 0px 0px 0px;
	position: relative;
}
.rule_matched{
	background: lightgreen;
}
.rule__delete{
	position: absolute;
	right: 3px;
	top: -8px;
	padding: 3px;
	cursor: pointer;
	background: white;
	border: 1px solid gray;
	border-radius: 3px;
}
.rule__delete:hover{
	background: gold;
}

.rule__item{
	margin: 5px 0px 0px 0px;
}
.rule__item__label{
	display: block;
}
.rule__item__input{
	width: 100%;
	box-sizing:border-box;
}

.example{
	font-family: monospace;
}
.example_header{
	display: inline-block;
	font-weight: bold;
	width: 12ex;
}

.example_match{
	background: #FBFB7F;
}
.example_replace{
	background: #96F196;
}

.replaceto__help{
	margin: 5px 0px 5px 0px;
}
.replaceto__help__link{
	display: inline;
	cursor: pointer;
	text-decoration: underline;
	color: blue;
}
.replaceto__help__body{

}